/* 
CSS BOX MODEL
*/

* {
  margin: 0;
}

h1,
p {
  color: white;
}

h1 {
  background: red;
  padding: 20px;
  margin: 3rem;
}

p {
  /* margin: 20px 40px; */
  margin: 4rem 4px 50px 10px;
  background: blue;
  /* padding: 40px; */
  /* padding: 30px 60px; */
  padding: 5px 20px 50px 40px;
}
