/* 
font-size - size of the fonts
font-family - describes the font of the element
*/

/* --------------------------------------------- */

/* body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Permanent Marker", cursive;
} */

/* --------------------------------------------- */

/* 
system fonts - a font that's already installed on device of the user.

- fast load times
- less headaches
- project will look different in each system

"-apple-system, BlinkMacSystem/font" - system of font on apple devices

"Segoe UI" - Used on windows Systems
"Roboto" - System Font for Android Devices
*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
