:root {
  --redCol: rgb(248, 3, 3);
  --heighNav: 5rem;
}
* {
  margin: 0;
}
.navbar {
  background: white;
  height: var(--heighNav);
}

.hero {
  background: rgb(0, 0, 0);
  min-height: calc(100vh - var(--heighNav));
  color: white;
}

span {
  color: var(--redCol);
  font-size: 1.26rem;
}

.hero-btn {
  background: var(--redCol);
  color: white;
}
