:root {
  --redCol: #ef4036;
  --heighNav: 5rem;
}
* {
  margin: 0;
}
#navbar {
  background: #fff;
  height: var(--heighNav);
}

.logo {
  font-size: 20px;
}

.hero {
  background: #222;
  min-height: calc(100vh - var(--heighNav));
  color: #fff;
}

.hero span {
  color: var(--redCol);
  font-size: 30px;
}

.hero-btn {
  background: var(--redCol);
  color: white;
}
